* {
    margin: 0;
    padding: 0, auto;
    border: 0;
    text-align: center;
    position: relative;
}

body {
    background-size: cover;
    z-index: 1;
}

#show {
    float: left;
}

#mainSearch {
    float: left;
    background-color: white;
}

#partOne {
    display: block;
}

#search {
    height: 50px;
    border-style: bold;
    border-width: 5px;
    border-color: black;
}

#whole {
    height: 70px;
    width: 600px;
    position: relative;
    margin: auto;
}

#better {
    float: left;
    color: #4a4a4a;
    font-weight: bold;
    display: none;
    width: 380px;
    border-style: bold;
    height: 180px;
    background-color: #e4f0fc;
}

.list {
    float: left;
}

.list span {
    width: 64px;
    height: 22px;
}

#resultList {
    z-index: 0;
    width: 600px;
    position: relative;
    margin: auto;
}

#top {
    height: 50px;
}

#logo {
    height: 250px;
}

#show {
    height: 42px;
    width: 70px;
    padding: 5px;
    font-weight: bold;
    color: #4a4a4a;
    background-color: white;
}

#write {
    width: 450px;
    height: 40px;
    border-style: bold;
}

#doSearch {
    height: 42px;
    width: 42px;
    border: solid transparent;
    background: transparent no-repeat;
    background-image: url("../images/s.png");
}

#topImage {
    float: left;
    height: 40px;
}

#logoImage {
    margin: auto;
    position: relative;

    width: 350px;
}

#buttons {
    width: 600px;
    position: relative;
    margin: auto;
}

#tt {
    height: 180px;
}

.ad {
    width: 110px;
    color: #4a4a4a;
    font-weight: bold;
}
